{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container d-flex flex-column gap-5 justify-content-center align-items-center min-vh-100">
        <h2>{{add_or_edit}} Address</h2>
        <form class="needs-validation row" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% if not field.is_hidden %}
                {% if field.label == 'Full Address<span style="color: red; font-weight:bolder;">*</span>' or field.label == 'Some Instructions' %}
                    <div class="col-12 col-lg-6">
                        <label class="form-label mt-2">{{field.label}} </label>
                        {{field}}
                        <div class="feedback" style="color: red">{{field.errors.as_text}}</div>
                    </div>
                {% else %}
                <div class="col-12 col-lg-4">
                    <label class="form-label">{{field.label}} </label>
                    {{field}}
                    <div class="feedback" style="color: red">{{field.errors.as_text}}</div>
                </div> 
                {% endif %}
            {% endif %}
            {% endfor %}
            {{form.user}}

            <div class="col-12 col-lg-4 offset-lg-4 d-flex justify-content-center align-items-center mt-4">
                <button class="btn btn-info form-control" type="submit">POST</button>
            </div>
        </form>

    </div>

{% endblock content %}

{% block js %}

<script>
    const state = document.getElementById("state_id");
    const city = document.getElementById("city_id");
    // Fetching data from cities.json
    async function getData() {
        city_val = city.value
        city.disabled = true;
        city.innerHTML = '<option value selected>---Select City---</option>';
        if(state.value!="") {
            city.disabled = false;
            let response = await fetch("{% static 'JSON/state_cities.json' %}");
            let data = await response.json();
            search_result = data.find(item=>item.state==state.value);
            cities_arr = search_result.cities
            for (let i = 0; i < cities_arr.length; i++) {
                let element = cities_arr[i];
                // Create new option elements
                let newOption = document.createElement("option");
                newOption.value = element[0];
                newOption.textContent = element[1];
                // Append the new options to the select element
                await city.appendChild(newOption);
            }
            city.value = city_val;
        }
    }
    getData();
    state.addEventListener("change", getData);
</script>

{% include "sticky_messages_alert.html" %}
{% endblock js %}