{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
        <h2 class="text-center mb-4">Reset Password</h2>
        <form id="reset_pass_form" method="POST"> {% csrf_token %}
            {% if pass_field == "true" %}
            <div class="mb-3">
                <label for="password" class="form-label">Enter New Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter new password" name="password">
                <small id="small_password" class="text-danger"></small>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Get OTP</button>
            </div>
            {% else %}
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {% endif %}
            <p class="text-center mt-3">Don't have an account? <a href="/accounts/sign_up/">Sign Up</a></p>
        </form>
    </div>
</div>
<script>
    const pass_field = {{pass_field}}
    if (pass_field){
        const form = document.getElementById("reset_pass_form");
        form.addEventListener('submit', (e)=>{
            const password = document.getElementById("password");
            const password_val = password.value;
            let small_email = document.getElementById("small_email");
            
            let rag_password = /^[_\-\.0-9a-zA-Z @]/;
            let rag2_password = /[a-zA-Z]/;
            let rag3_password = /[0-9]/;
            
            let c = false;
            if ((rag_password.test(password_val)) && (password_val.match(rag2_password)) && (rag3_password.exec(password_val)) && (password_val.length > 8) && (password_val.length <= 30)) {
                small_password.innerHTML = "";
                c = true;
            } else if (password_val.length <= 8) {
                small_password.innerHTML = "Please Enter character Greater than 8";
                password.classList.add("invaild");
            } else if (password_val.length >= 30) {
                small_password.innerHTML = "Please Enter character Smaller than 30";
                password.classList.add("invaild");
            } else if (password_val.match(rag2_password) == null) {
                small_password.innerHTML = "Please Enter some Character";
                password.classList.add("invaild");
            } else {
                small_password.innerHTML = "Please Enter some Numbers";
                password.classList.add("invaild");
            }
    
            // Now after the process
            if (c == false) {
                e.preventDefault();
            };
        })
    }
</script>

{% endblock content %}