{% extends "base.html" %} {% block content %}
{% include "sticky_messages_alert.html" %}

<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
  <h2 class="text-center">OTP</h2>
  <form method="POST" class="needs-validation" style="width: 50%;" novalidate>
    {% csrf_token %} {% for field in form %}
    <div>
      <label class="form-label">{{field.label}}</label>
      {{field}}
      <div class="feedback" style="color: red">{{field.errors.as_text}}</div>
    </div>
    {% endfor %}
    <div class="col-12 mt-3 text-center">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock content %}
