{% extends "base.html" %}
{% load static %}
{% block content %}

{% include "sticky_messages_alert.html" %}
<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <h1 class="mt-5">User Profile</h1>
    <div class="text-center">
        {% if request.user.photo.url == "/media/default_user_photo.png" %}
        <img src="https://api.multiavatar.com/{{request.user.username}}.svg" class="rounded-circle profile-photo" alt="User Photo" width="150" height="150" onclick="document.getElementById('photo-input').click();" style="cursor: pointer;">
        {% else %}
        <img src="{{ user.photo.url }}" class="rounded-circle profile-photo" alt="User Photo" width="150" height="150" onclick="document.getElementById('photo-input').click();" style="cursor: pointer;">
        {% endif %}
    </div>
    <div>
        <form id="profile-form" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.label != "Photo*" %}
                    <div class="">
                    <label class="form-label">{{field.label}}</label>
                    {{field}}
                    <div class="feedback" style="color: red">{{field.errors.as_text}}</div>
                    </div>
                {% endif %}
            {% endfor %}
            <input type="file" id="photo-input" name="photo" style="display:none;" onchange="document.getElementById('profile-form').submit">
            <button type="submit" class="btn btn-primary mt-3">Update Profile</button>
        </form>
    </div>
</div>
    
{% endblock content %}