{% load custom_filters %}
<div class="m-0 p-0 col-xxl-3 col-lg-4 col-md-6 d-flex justify-content-center my-3">
  {% csrf_token %}
  <div class="card position-relative">
    <!-- Wishlist Box -->
    
    <span class="wishListBox position-absolute" id="{{book.id}}" title="Toggle Wishlist" onclick="clickOnHeart('{{book.id}}')">
      <span><i class="far fa-heart {% if request.user.wishlist.books|book_in_wishlist:book.id %}added-to-wishlist fas{% endif %}"></i></span>
    </span>

    <span class="shareBtn position-absolute" id="{{book.id}}" title="Share" onclick="sharePopup('{{book.id}}')">
      <span><i class="fa fa-share"></i></span>
    </span>

    <!-- Card Image -->
    <img src="/media/{{book.images.all.0.image.name}}" class="card-img-top" alt="..." style="height: 18rem;">

    <!-- Card Body -->
    <div class="card-body">
      <h5 class="card-title">{{book.book_name|truncatechars:15}} <br>
        <span class="fw-normal fs-6">By {{book.author|truncatechars:18}}</span>
      </h5> 

      <p class="card-text">
        <span class="d-flex justify-content-end">
          <span class="text-black category-badge" title="category" style="padding: 0.2rem 0.5rem; border-radius:1rem; border: 1px solid black; font-size: 0.75rem;">
            {{book.category}}
          </span>
        </span> 
        <span class="price-space-in-card">
          <span class="fw-bold">Price:</span> ₹ {{book.price}}.00
        </span>
      </p>

      <div class="d-flex align-items-center">
        {% if request.user.cart.books|book_in_cart:book.id %}
          <a href="{% url "cart" %}" class="btn btn-theme-success col-6" title="Item already added to cart">Go to <i class="fa fa-shopping-cart"></i></a>
        {% else %}
          <a href="{% url "add_to_cart" book.id %}" class="btn col-6 add-to-cart-btn">Add to <i class="fa fa-shopping-cart"></i></a>
        {% endif %}
        <a href="/book-view/{{book.id}}" class="btn theme-btn-deep col-6 ms-1 details-btn">Details <i class="fa fa-chevron-right ms-1"></i></a>
      </div>
    </div>
  </div>
</div>


<script>
  function clickOnHeart(id) {
    const Toast = Swal.mixin({
      toast: true,
      position: "bottom",
      showConfirmButton: false,
      timer: 5000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
    let csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    $.ajax({
      url: "/", // Django view URL
      type: "POST",
      headers: {
        "X-CSRFToken": csrf_token, // Include CSRF token in headers
      },
      data: {
        book_id: id,
        action: "wishlist",
      },
      success: function (response) {
        if(response.wishlist_added) {
          $(`#${id} span i`).addClass("added-to-wishlist fas");
          Toast.fire({
            icon: "success",
            title: "Book added to wishlist"
          });
        }
        else {
          $(`#${id} span i`).removeClass("added-to-wishlist fas")
          Toast.fire({
            icon: "error",
            title: "Book removed from wishlist"
          });
        }
      },
      error: function (xhr, status, error) {
          // console.error(xhr.responseText);
      },
    });
  }
</script>