{% extends "base.html" %} {% load static %}


{% block content %}
{% load math_filters %}
<body>
    <div class="container my-5">
        <h1 class="text-center">Book Cart</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark text-center">
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Price (₹)</th>
                        {% comment %} <th>Quantity</th>
                        <th>Subtotal (₹)</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody id="cart-items">
                    {% csrf_token %}
                    {% for book, qty in books.items %}
                    <tr>
                        <td class="text-center">
                            <img src="/media/{{book.images.all.0.image.name}}" class="img-thumbnail mx-1" alt="Thumbnail" style="height: 20vh; cursor: pointer;"/>
                        </td>
                        <td>{{book.book_name}}</td>
                        <td>{{book.price}}.00</td>
                        <td class="text-center"><button class="btn btn-danger" onclick="deleteBook(this, {{book.id}})">Remove</button></td>
                        {% comment %} <td class="d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-center border rounded col-10">
                                <button class="btn btn-light border-0 px-3" onclick="decreaseQuantity(this, {{book.id}}, {{qty}})">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="text" class="form-control text-center border-0 quantityInCart" value="{{qty}}" style="width: 50px;" readonly>
                                <button class="btn btn-light border-0 pe-3" onclick="increaseQuantity(this, {{book.id}}, {{qty}})">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </td>
                        <td class="text-end pe-3">{{book.price|multiply:qty}}</td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-end"><strong>Total:</strong></td>
                        <td class="fw-bold text-end pe-3">₹ <span id="total-price">{{books|total_price}}</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock content %}


{% block js %}
<script src="{% static "books/cart.js" %}"></script>
{% endblock js %}