{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "books/book_index.css" %}">
{% endblock css %}

{% block content %}
{% include "books/includeSharePopup.html" %}


<div class="container my-4 min-vh-100 d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between" style="width: 100%;">
    <h3 class="d-inline-block">Fresh recommendations</h3>
    <button class="btn btn-orange btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-filter filterIcon"></i></button>
  </div>
    <div class="row"  style="width: 100%;">
      {% for book in all_books %}
        {% include "books/book_cards_include.html" %}
      {% endfor %}
    </div>
</div>


<!-- Filter Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Filter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form name="filterForm" id="filterForm" method="GET" action="{% url "home" %}">
      <div class="modal-body col-12">
        {% comment %} dropdown  {% endcomment %}
        <select class="form-select" aria-label="Default select example" id="categoriesDropdown" onchange="loadSubCategories(this.value);" name="category">
          <option selected value="">Select a category</option>
        </select>

        <select class="form-select mt-3" aria-label="Default select example" id="subCategoriesDropdown" name="sub_category">
          <option selected value="">Select a Sub-Category</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
      </div>
    </form>

    </div>
  </div>
</div>

{% endblock content %}


{% block js %}
<script>

  // fething data from category.json
  fetch('./static/JSON/category.json')
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    return response.json();
  })
  .then(data => {
    // Access and display the JSON data
    // alert(data.categories[1].name)
    const outputDiv = document.getElementById('categoriesDropdown');
    outputDiv.innerHTML = `<option selected value="">Select a Category</option>`;

    data.categories.forEach((val, index) => {
      outputDiv.innerHTML += `<option value="${data.categories[index].name}"> ${data.categories[index].name}</option>`;
    })
  })
  .catch(error => {
    console.error('Error fetching the JSON file:', error);
  });

async function loadSubCategories(category) {

  fetch('./static/JSON/category.json')
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    return response.json();
  })
  .then(data => {
    // Access and display the JSON data
    const outputDiv = document.getElementById('subCategoriesDropdown');
    outputDiv.innerHTML = `<option selected value="">Select a Sub-Category</option>`;
    
    data.categories.forEach((val, index) => {
      if (val.name == category) {
        for (i=0; i<data.categories[index].types.length; i++) {
        outputDiv.innerHTML += `<option value="${data.categories[index].types[i]}"> ${data.categories[index].types[i]}</option>`;
        }
      }
    })
  })
  .catch(error => {
    console.error('Error fetching the JSON file:', error);
  });
}


</script>


{% include "sticky_messages_alert.html" %}


{% endblock js %}

