{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "books/book_index.css" %}">
{% endblock css %}

{% block content %}


<div class="container my-4 min-vh-100">
  <div class="d-flex justify-content-between">
    <h3 class="d-inline-block">Fresh recommendations</h3>
  <button class="btn btn-orange btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-filter filterIcon"></i></button>
  </div>
    <div class="row gap-3 d-flex flex-row justify-content-center">

      {% for book in all_books %}
        {% include "books/book_cards_include.html" %}
      {% endfor %}
        
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Filter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form name="filterForm" id="filterForm" method="GET" action="google.com">
      <div class="modal-body col-12">
        {% comment %} dropdown  {% endcomment %}
        <select class="form-select" aria-label="Default select example" id="categoriesDropdown" onchange="loadSubCategories(this.value);">
          <option selected value="0">Select a category</option>
        </select>

        <select class="form-select mt-3" aria-label="Default select example" id="subCategoriesDropdown">
          <option selected value="0">Select a sub-category</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
      </div>
    </form>

    </div>
  </div>
</div>

{% endblock content %}


{% block js %}
<script>

  fetch('./static/JSON/category.json')
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    return response.json();
  })
  .then(data => {
    // Access and display the JSON data
    // alert(data.categories[1].name)
    const outputDiv = document.getElementById('categoriesDropdown');
    outputDiv.innerHTML = `<option selected value="0">Select a Category</option>`;

    data.categories.forEach((val, index) => {
      outputDiv.innerHTML += `<option value="${data.categories[index].name}"> ${data.categories[index].name}</option>`;
    })
  })
  .catch(error => {
    console.error('Error fetching the JSON file:', error);
  });

async function loadSubCategories(category) {

  fetch('./static/JSON/category.json')
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    return response.json();
  })
  .then(data => {
    // Access and display the JSON data
    const outputDiv = document.getElementById('subCategoriesDropdown');
    outputDiv.innerHTML = `<option selected value="0">Select a Sub-category</option>`;
    
    data.categories.forEach((val, index) => {
      if (val.name == category) {
        for (i=0; i<data.categories[index].types.length; i++) {
        outputDiv.innerHTML += `<option value="${data.categories[index].types[i]}"> ${data.categories[index].types[i]}</option>`;
        }
      }
    })
  })
  .catch(error => {
    console.error('Error fetching the JSON file:', error);
  });
}

  document.getElementById('filterForm').addEventListener('submit', async function(event) {
    event.preventDefault(); 

    var category_val = document.getElementById('categoriesDropdown').value.replaceAll(" ", "%20").toLowerCase();
    var subcategory_val = document.getElementById('categoriesDropdown').value.replaceAll(" ", "%20").toLowerCase();

    const url = `${window.location.href}?category=${category_val}&subcategory=${subcategory_val}` ;
    // const url = `/search?query=${encodeURIComponent(query)}`;
    alert('URL: ' + url);

    try {
      const response = await fetch(url);
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      const data = await response.json();
      alert(JSON.stringify(data, null, 2));
    } catch (error) {
      console.log(`Error: ${error.message}`);
    }
  });
</script>


{% include "sticky_messages_alert.html" %}


{% endblock js %}

