{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "books/book_index.css" %}">
{% endblock css %}

{% block content %}
{% include "sticky_messages_alert.html" %}

<div class="container my-4 min-vh-100">
  <div class="d-flex justify-content-between">
    <h3 class="d-inline-block">Fresh recommendations</h3>
    <span class="" onclick="selectFilter();"><i class="fas fa-filter filterIcon"></i></span>
  </div>
  <div class="container my-4" style="display: grid; place-items:center;">
    <div class="row gap-3">

      {% for book in all_books %}
        {% include "books/book_cards_include.html" %}
      {% endfor %}
        
    </div>
  </div>
</div>

{% block js %}
<script>
  async function selectFilter() {
    let response = await fetch("{% static 'JSON/category.json' %}");
    let data = await response.json();
    console.log(data)
    const { value: fruit } = await Swal.fire({
      title: "Select a Filter",
      input: "select",
      inputOptions: {
        Education: {
          jee: "JEE",
          neet: "NEET",
          btech: "B.Tech",
          mtech: "M.Tech",
          olympaid: "Olympaid"
        },
        "Non Fiction": {
          selfhelp: "Self-Help",
          business: "Business",
          philosophy: "Philosophy",
          biography: "Biography"
        },
        Fiction: "fiction"
      },
      inputPlaceholder: "Select category",
      showCancelButton: true,
      inputValidator: (value) => {
        return new Promise((resolve) => {
          if (value === "btech") {
            resolve();
          } else {
            if (value === "") {
              resolve("Please select a value");
            } else {
              resolve(`${value} books are not available in the stock.`);
            }
          }
        });
      }
    });
  }
</script>
{% endblock js %}

{% endblock content %}
