{% extends "base.html" %} {% load static %} {% block content %}

<div class="container my-4">
  <h2>Your Ads</h2>
  <div class="container my-4 min-vh-100">
    <div class="row gap-3 justify-content-center">

      {% for book in user_ads %}
        <div class="card" style="width: 18rem;z-index:-999;">
            <img src="/media/{{book.images.all.0.image.name}}" class="card-img-top" alt="..." style="height: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{book.book_name}}</h5>
              <p class="card-text">{{book.desc}}</p>
              <a href="#" class="btn btn-primary">Edit</a>
            </div>
          </div>
        {% endfor %}
        
    </div>
  </div>
</div>

{% endblock content %}
