{% extends "base.html" %} {% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "books/book_index.css" %}">
<link rel="stylesheet" href="{% static "books/cart.css" %}">
{% endblock css %}


{% block content %}
{% include "books/includeSharePopup.html" %}

<div class="container my-4 min-vh-100">
  {% if books %}
    <h3>Your Wishlist</h3>
      <div class="row"  style="width: 100%;">
        {% for book in books %}
          {% include "books/book_cards_include.html" %}
        {% endfor %}
      </div>
    {% else %}
    <div class="col-12" id="cart_items_container">
      <p class="empty-cart"><a href="{% url "home" %}">Explore other books</a> on <span class="highlight">Book Swap</span>!</p>
    </div>
    {% endif %}
</div>

{% endblock content %}
{% block js %}
{% include "sticky_messages_alert.html" %}
{% endblock js %}