.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 3.2rem;
  border-radius: 50%;
}

.custom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 1vw;
  height: 4rem;
}

.form_dropdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 86%;
  height: 100%;
}

form.forLargerDevices {
  width: 80%;
}


.search_logo {
  height: 2rem;
  cursor: pointer;
}

#search_logo:hover {
  transform: scale(1.2);
}

.notificationIcon {
  height: 1.8rem;
}

.dropdown-toggle::after {
  margin-left: 0;
}

.profile_pic {
  width: 3rem;
  object-fit: cover;
}


@media (max-width: 993px) {
  .form_dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    min-width: 20%;
    height: 100%;
  }
  .alert {
    position: sticky !important;
    width: 100%;
    top: 6.5rem !important;
  }
}
@media (max-width: 630px) {
  .form_dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    max-width: 80%;
    height: 100%;
  }
  .alert {
    position: sticky !important;
    width: 100%;
    top: 6.5rem !important;
  }
}
@media (max-width: 330px) {
  .form_dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 80%;
    height: 100%;
  }
  .alert {
    position: sticky !important;
    width: 100%;
    top: 6.5rem !important;
  }
}

