.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-orange-1) !important;
}

#logo {
  height: 3.2rem;
  border-radius: 50%;
}

.custom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 1vw;
  height: var(--height-nav-bar);
}

.form_dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}
a.navbar-brand {
  max-width: 5%;
}

form.forLargerDevices {
  width: 80%;
}


.icon_transform:hover {
  transform: scale(1.2);
}

.notificationIcon, .cartIcon {
  height: 1.8rem;
}

.dropdown-toggle::after {
  margin-left: 0;
}

.profile_pic {
  width: 3rem;
  object-fit: cover;
}

@media (max-width: 1440px) {
  .form_dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 20%;
    height: 100%;
  }
  .alert {
    position: sticky !important;
    width: 100%;
    top: var(--height-nav-bar)!important;
  }
}


@media (max-width: 993px) {
  .form_dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    min-width: 20%;
    height: 100%;
  }
  .alert {
    position: sticky !important;
    width: 100%;
    top: 6.5rem !important;
  }
}
@media (max-width: 710px) {
  .form_dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    max-width: 80%;
    height: 100%;
  }
  .alert {
    position: sticky !important;
    width: 100%;
    top: 6.5rem !important;
  }
}
@media (max-width: 390px) {
  .form_dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 88%;
    height: 100%;
  }
  a.navbar-brand {
    max-width: 12%;
  }
  .alert {
    position: sticky !important;
    width: 100%;
    top: 6.5rem !important;
  }
  .notificationIcon, .cartIcon {
    height: 1.48rem;
  }
  .profile_pic {
    width: 2.4rem
  }
  #logo {
    height: 2.8rem;
  }
}

i {
  margin:0;
  padding: 0;
}
.badge-custom {
  position: absolute;
  top: -1px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.25em 0.4em;
  font-size: 0.75em;
}
.icon-container {
  position: relative;
  font-size: 1rem;
  margin-right: 20px;
}


.search_logo {
  background-color: transparent !important;
}