.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 4rem;
}

.custom_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0px 1vw;
  height: 4rem;
}

.form_dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 100%;
}

form {
  width: 80%;
}

#search_logo {
  height: 3rem;
  cursor: pointer;
}

#search_logo:hover {
  transform: scale(1.1);
}

.profile_pic {
  width: 3rem;
  object-fit: cover;
}

/* Adjust the alert to stay sticky below the navbar */
.sticky-alert {
  position: sticky;
  top: 5rem; /* Height of the navbar */
}