* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f3f3;
  overflow-x: hidden;
}

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
  font-size: large;
  margin-top: 1vh;
  background-color: var(--light-orange-3);
  color: rgb(0, 0, 0);
}

/* for profile.html */
.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

i.edit-icon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem; 
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 50%; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
  cursor: pointer; 
}

.image-container:hover .edit-icon {
  opacity: 1;
}

.wishListBox span  {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  padding: 0;
}

.wishListBox, .shareBtn {
  position: absolute;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  transition: color 0.3s ease;
  padding: .18rem .46rem;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
}
.wishListBox {
  top: 10px;
  left: 10px;
}
.shareBtn {
  top: 10px;
  right: 10px;
  visibility: hidden;
}
.card:hover .shareBtn {
  visibility: visible;
}
@media (max-width: 630px) {
  .shareBtn {
    visibility: visible;
  }
  .sharePopup {
    min-width: 81vw;
  }
}


.added-to-wishlist {
  color: rgb(255, 49, 49);
}

/* .animateHeart {
  animation-name: heartBlink;
  animation-duration: .66s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-delay: 0;
} */

@keyframes heartBlink {
  0% {
    color: rgb(255, 49, 49);
  } 25% {
    color: rgb(255, 234, 40);
    transform: scale(1.12) rotate(10deg);
  } 50% {
    color: rgb(255, 102, 247);
    transform: scale(1) rotate(2deg);
  } 75% {
    color: rgb(134, 42, 255) rotate(0deg);
    transform: scale(0.84);
  } 100% {
    color: rgb(255, 49, 49);
  } 
}



input:focus {
  outline: none !important;
}



form {
  width: 57%;
}
.formFloat {
  position: relative;
  margin-bottom: 1.5rem;
}

.formFloat input.form-control {
  width: 100%;
  padding: 1rem 0.5rem 0.25rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  outline: none;
  height: 2.84rem;
}

.formFloat label {
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  padding: 0 0.25rem;
  background-color: transparent;
  color: #777;
  font-size: 0.94rem;
  pointer-events: none;
  transition: all 0.2s ease;
}

.formFloat input.form-control:focus {
  height: 3rem;
  transition: .2s;
}

.formFloat input.form-control:focus + label,
.formFloat input.form-control:not(:placeholder-shown) + label {
  top: 0.1rem;
  left: 0.1rem;
  font-size: 0.8rem;
  color: #3f51b5;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #3f51b5 !important;
}

.container-box {
  margin: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Subtle elevation */
  max-width: 500px;
  width: 90%; 
}
