.card:hover {
    transform: scale(1.02);
    transition: .2s;
    box-shadow: 0 0 1.2rem rgba(60, 60, 60, 0.2)
  }

  .card:hover .card-body .category-badge {
      color: #fafafa !important;
    background-color: #555;
    border:0 !important;
    font-weight: 700;
  }

  .price-space-in-card {
    font-size: 1.2rem;;
  }

  .errorlist {
    color: red;
}