.card {
  width: 18rem;
  z-index: 0 !important;
}

.card:hover {
  transform: scale(1.02);
  transition: .2s;
  box-shadow: 0 0 1.2rem rgba(60, 60, 60, 0.2)
}
.category-badge {
  transition: .5s;
}
.card:hover .card-body .category-badge {
  color: #fafafa !important;
  background-color: var(--dark-orange-1);
  border: 0 !important;
  font-weight: 700;
  transition: .25s;
}

.card:has(:hover > .details-btn:hover) {
  box-shadow: 0px 0px 12px var(--orange-2);
}
.card:has(:hover > .add-to-cart-btn:hover) {
  box-shadow: 0px 0px 12px #17da7fa1;
}


.add-to-cart-btn {
  color: #06b262d5;
  border: 1px solid #06b262d5;
  background-color: transparent;
}
.add-to-cart-btn:hover {
  background-color: var(--light-success);
  color: white;
}

.price-space-in-card {
  font-size: 1.2rem;
  ;
}

.errorlist {
  color: red;
}


.filterIcon {
  font-size: large;
  transition: .4s;
  cursor: pointer;
}
.filterIcon:hover, .filterIcon:focus {
  transform: scale(1.2);
  transition: .8s;
}

.btn-wrapper button,
.btn-wrapper a {
  transition: .36s;
}
.btn-wrapper button:hover,
.btn-wrapper a:hover {
  box-shadow: 0 3px 12px rgba(97, 97, 97, 0.493);
  transition: .26s;
}