
.order-box {
    background-color: #fff8ef;
    background-image: linear-gradient(to bottom, rgb(255, 123, 0) 1%, rgb(255, 223, 164) 32%, transparent 48%);
    /* border: 2px solid var(--orange-2); */
    border-radius: 10px;
    padding: 20px;
    margin: 24px 0;
    box-shadow: 0.2rem 0.45rem 1.5rem rgba(185, 185, 185, 0.699);
    transition: .8s;
  }

  .order-box:hover .cancel-btn:hover {
    box-shadow: 0 4px 6px rgba(173, 173, 173, 0.5); 
    transform: scale(1.025);
  }
  .order-box:has(.cancel-btn:hover) {
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.5); 
    transform: scale(1.02);
    transition: .25s;
  }

  h6 {
    font-size: 1.25rem;
  }

  h5.orderId {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
  }
 

  .book-details {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
  }

  .book-image {
    width: 120px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid var(--orange-1);
  }

  .progress-container {
    position: relative;
    margin: 20px 0;
    padding-top: 20px;
  }
  
  .progress {
    height: 8px;
    background-color: #f3f3f3;
    border-radius: 20px;
    position: relative;
  }
  
  .progress-bar {
    background-color: var(--orange-3);
    height: 100%;
    position: relative;
    overflow: visible !important;
  }
  
  
  .progress-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Nunito Sans';
  }
  
  .progress-labels span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .progress-labels i {
    font-size: 16px;
    /* color: var(--orange-2); */
  }
  
  .completed i {
    color: var(--default-success);
  }


  .completed-label {
    color: var(--default-success);
  }

  .current-label {
    color: var(--dark-orange-1);
    font-weight: 600;
  }

  .progress-labels span {
    display: flex;
    align-items: center;
    gap: 5px;
  }


  .estimated-delivery {
    margin-top: 20px;
    font-weight: bold;
    font-family: 'SUSE';
    color: black;
  }

  .estimated-delivery span.date {
    font-weight: bold;
    font-family: 'SUSE';
    color: var(--dark-orange-2);
  }

  .book-details {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 424px) {
    .book-details {
        display: flex;
        flex-direction: column;
    }
  }

  @media (max-width: 724px) {
    .progress-labels span .label-text {
        font-size: small;
        text-align: center;
    }
    .progress-labels span {
        display: flex;
        flex-direction: column;
    }
  }

  .badge-category {
    font-size: 0.85rem;
    background-color: var(--dark-orange-1);
    color: white;
    border-radius: 5px;
    padding: 2px 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}