{% load static %}
<nav class="navbar bg-body-tertiary position-sticky top-0 z-1 pt-0 pb-1">
    <div class="custom_container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static "images/logo.jpeg" %}" alt="Bootstrap" id="logo">
        </a>
        <div class="form_dropdown d-flex m-0 p-0 gap-1">
            <form class="d-none col-9 forLargerrDevices d-sm-none d-md-none d-lg-flex" role="search" action="{% url "search_results" %}">
                <input class="form-control text-center p-1" type="search" placeholder="Search Books" aria-label="Search" style="font-size: 1rem;" name="search_for" value="{{search_for}}">
                <button type="submit" style="border: none; padding: 0; background: none;" id="search_btn"><img src="{% static "images/search_logo.png" %}" alt="" class="search_logo search_logo_transform" id="search_logo"></button>
            </form>

            {% if request.user.is_authenticated %}
            <div class="col-1 d-flex justify-content-center align-items-center" style="cursor: pointer; height: 80%;">
                <img class="notificationIcon" src="{% static "images/notification_icon.png" %}">
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center" style="cursor: pointer; height: 80%;">
                <a class="btn btn-info" href="{% url "post_ad" %}">SELL</a>
            </div>
            <div class="dropdown col-1 d-flex justify-content-center align-items-center" style="cursor: pointer; height: 80%;">
                <a href="#"  class="nav-link dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.photo.url == "/media/default_user_photo.png" %}
                    <img class="profile_pic" src="https://api.multiavatar.com/{{request.user.username}}.svg" >
                    {% else %}
                    <img class="profile_pic" src="/media/{{request.user.photo.name}}" >
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end z-1">
                    <li><a class="dropdown-item" href="{% url "profile" %}">Your Profile</a></li>
                    <li><a class="dropdown-item" href="{% url "user_posted_ads" %}">Your Ads</a></li>
                    <li><a class="dropdown-item logout">Logout</a></li>
                </ul>
            </div>
            
            {% else %}
            <div class="navbar-nav" style="display: flex; flex-direction: row; gap: 1.8vw; font-size: 1.2rem;">
                <a class="nav-link" href="{% url "login" %}">Login</a>
                <a class="nav-link" href="{% url "signup" %}">SignUp</a>
            </div>
            {% endif %}
        </div>
    </div>
    
    <form class="d-flex forSmallerDevices mt-1 col-11 d-lg-none" role="search">
        <input class="form-control text-center p-1" type="search" placeholder="Search Books" aria-label="Search" style="font-size: 1rem;">
        <img src="{% static "images/search_logo.png" %}" alt="" class="search_logo">
    </form>
</nav>
