{% load static %}
<nav class="navbar bg-body-tertiary position-sticky top-0 z-1">
    <div class="custom_container">
        <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static "images/logo.jpeg" %}" alt="Bootstrap" id="logo">
        </a>
        <div class="form_dropdown">
            <form class="d-flex" role="search">
                <input class="form-control text-center p-1" type="search" placeholder="Search Books" aria-label="Search" style="font-size: 1rem;">
                <img src="{% static "images/search_logo.png" %}" alt="" id="search_logo">
            </form>
            {% if request.user.is_authenticated %}
            <div class="dropdown">
                <a href="#"  class="nav-link dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="profile-pic" src="/media/{{request.user.photo.name}}" >
                </a>
                <ul class="dropdown-menu dropdown-menu-end z-1">
                    <li><a class="dropdown-item" href="{% url "profile" %}">Your Profile</a></li>
                    <li><a class="dropdown-item logout">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <div class="navbar-nav" style="display: flex; flex-direction: row; gap: 1.8vw; font-size: 1.2rem;">
                <a class="nav-link" href="{% url "login" %}">Login</a>
                <a class="nav-link" href="{% url "signup" %}">SignUp</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
